body {
    margin: 23px;
    background-image: url("../imagenes/Gemini_Generated_Image_v6xk3rv6xk3rv6xk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Impact", "Arial Black", sans-serif;
    color: #F8E9D6; /* Texto principal hueso */
}

/* Títulos con poder */
h1, h2, h3 {
    color: #FFD700; /* Dorado fuerte */
    text-shadow: 0 0 10px #FF4D00;
    transition: 0.5s;
}

h1:hover, h2:hover, h3:hover {
    color: rgb(60, 0, 0);
}


/* Texto */
p {
    color: #F8E9D6; /* Legible pero temático */
}

p:hover{
    color: darkred;
}

/* Botones Search */
.search-button {
    background-color: #39FF14;
    color: #2A003A;
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: bold;
}
